@font-face {
    font-family: montserrat-medium;
    src: url(fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(fonts/Montserrat-Bold.ttf);
}
h3 {
    font-size: 30px;
    font-family: montserrat-bold;
}
p {

}

/* main headers 30px;
sub headers 25px
regular text 16px 
small text 14px*/
img {
    width: 100px;
}
.nav-wrap {
    background-color: black;
    border: 1px solid red;
}
nav {
    display: flex;
    width: 100%;
    
}
nav div {
    
}

.nav-elems {
    display: flex;
    width: 100%;
    justify-content: right;
}
.container {
    
}
.container-fluid img {
    width: 100%;
}

.footer {
    background-color: black;
    color: beige;
}

.nav-dark {
    --bs-navbar-toggler-border-color:rgba(226, 33, 33, 0.644);
}
.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: right;
}



@media (max-width: 1440px) {
    nav {
        display: flex;
        width: 100%;
        border: 1px solid red;
    }
}
